<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
<meta charset="UTF-8">
<title>Cadastrar Usuario</title>
</head>
<body>
	<h1>Cadastrar Usuários</h1>
	<form method="post">
		Nome:     <input type="text" value="" name="name" /> 
		Email:    <input type="email" value="" name="email" />
		Telefone: <input type="text" value="" name="phone" />
		Sehna:    <input type="password"value="" name="password" /> 
		          <button type="submit">Salvar</button>
	</form>

</body>


</html>